*__pycache__*
*.pyc
.env
.vscode
pyrightconfig.json
*.swp
.python-version
wandb
wandb-debug.log
__pycache__
.ipynb_checkpoints
.DS_Store
doc/*.aux
doc/**/*.aux
doc/**/*.bbl
doc/**/*.blg
doc/**/*.latexmk
doc/**/*.log
doc/**/*.fls
doc/**/*.gz
doc/**/*.fdb_latexmk
doc/*.latexmk
doc/*.fdb_latexmk
synctex.gz
doc/*.log
doc/*.fls
**/wandb/
.history
**/*smb_turtle*/**/*.pkl
